@@font-face {
	font-family: 'Rock Salt', 'Roboto';
	src: url("../fonts/RockSalt-Regular.ttf");
}

* {
	box-sizing: border-box;
	/* border: 1px dotted red; */
}

body,
html {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Rock Salt", "Roboto", sans-serif;
	font-weight: normal;
	font-style: normal;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #202020;
}

header {
	width: 100vw;
	height: 15vh;
	background-image: url("../images/banner.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#button_start {
	background-image: url("../images/play_button.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#button_gamesize {
	background-image: url("../images/smallgame.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#button_player_mode {
	background-image: url("../images/singleplayerbutton.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#button_help {
	background-image: url("../images/help.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#button_exit {
	background-image: url("../images/exitbutton.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

button {
	padding: 0;
	margin: 5px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-weight: bold;
	border: none;
	box-shadow: 0 4px #999;
	background-color: transparent;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:active {
	transform: translateY(4px);
	box-shadow: 0 2px #888;
}

.main_container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#instruction {
	display: none;
	justify-content: center;
	flex-flow: row;
	width: 100vw;
	height: 45vh;
}

.pic1 {
	background-image: url("../images/instruction.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100%;
	width: 60%;
}

.game_main_control_container {
	display: flex;
	justify-content: center;
	flex-flow: row;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	margin: 0;
	padding: 0;
}

.map_container1,
.map_container2 {
	margin: 10px;
	padding: 2px;
	width: min-content;
	/* display: grid; */
	background-color: #202020;
	gap: 2px;
	border-radius: 0.6rem;
	display: none;
}

.tiles {
	width: 100%;
	height: 100%;
	background-color: #E9D6CB;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	position: relative;
}

.newtiles {
	width: 100%;
	height: 100%;
	background-color: #E9D6CB;
	border-radius: 10px;
	margin: 1px;
	border: none;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
	display: none;
	/* padding: 3px; */
}
.alert {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	border: none;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

.newtiles .alert {
	mix-blend-mode: multiply;
}

#ingame_controls_container {
	display: none;
	justify-content: center;
	align-items: center;
}

.msgCloud {
	width: 200px;
	height: 200px;
	font-family: "Roboto", sans-serif;
	font-size: 5em;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0.8;
}

.msgCloud:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#output1 {
	background-image: url("../images/P2turn.svg");
}

#output2 {
	background-image: url("../images/P1turn.svg");
}

#nextTile,
#p1_current_score,
#p1_total_score,
#p2_current_score,
#p2_total_score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	text-align: center;
	width: 100%;
	height: auto;
}

#nextTile {
	justify-content: center;
	align-items: flex-end;
	/* text-align: center; */
}

#nextTileTxt {
	width: 100%;
	background-color: purple;
	color: white;
	border-radius: 0 0 10px 10px;
}

.p2 {
	background-color: #B0B0B0;
}
